.homeBody {
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: 'JUMBOTRON', 'Molot', sans-serif;
}

.logo {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: 16px;
}

.clock {
  font-size: 150px;
  font-weight: bold;
  letter-spacing: 20px;
  text-align: center;
}
