@font-face {
  font-family: "Nanum Gothic";
  src: url("./assets/NanumGothic-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Nanum Gothic", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 1280px;
  height: 780px;
  overflow: hidden; /* Prevent scrolling */
  font-family: "Nanum Gothic", sans-serif;
}